body {
  font-family: Avenir, sans-serif;
  margin: 0;
}

canvas {
  display: block;
}

.ball {
  background-size: contain;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.latency {
  color: #fff;
  left: 0;
  padding: 10px;
  position: fixed;
  text-shadow: 0 1px 2px #000;
  top: 0;
}
